*{
    font-family: sans-serif;
}
body{
     margin: 0px;
}
.lil{
    display: inline;
    font-weight: bold;
    margin: 10px;
}
a{
    color: white;
    text-decoration: none;
}
.nav{
    display: flex;
    /* background: red; */
    align-items: center;
    /* justify-content: space-between; */
}
.style{
    color: orangered;
    font-style: normal;
    font-size: 65px;
    text-align: center;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: red;
}
li{
    color: white;
    list-style-type: none;
}
.drop{
    display: inline-block;
}
.parent{
    background: blue;
    list-style-type: none;
    padding: 0px;
    width: 200px;
    color: white;
}
.dropelement{
    padding: 0px;
    list-style-type: none;
    background: blue;
    visibility: hidden;
    position: absolute;
    width: 200px;
}
.dropelement li{
    /* padding: 5px; */
}
.parent:hover .dropelement{
    visibility: visible;
}
.parent:hover li:hover{
    color: white;
    background-color: black;
    /* font-size: 30px; */
}
.nav{
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-right: 35px;
}
h6{
     color: orangered;
     font-size: 20px;
}
/* button{
    background: orange;
    border: none;
    color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 2px;           
} */
.img{
    margin: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
.par{
    text-align: left;
    font-size: 23px;
}
.bag{
    margin: 10px;
    padding: 10px;
    width: 900px;
    
}
h1{
    font-size: 65px;
}
.add{
    padding: 0px;
    /* background-color: blue; */
}
.cus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
}
a{
    color: white;
    text-decoration: none;
}
.lil{
    display: inline;
    margin: 10px;
}
.nav{
    display: flex;
    /* background: red; */
    align-items: center;
    /* justify-content: space-between; */
    margin: 5px;
    
}
.cus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.cust{
    background: white;
    text-align: center;
}
.bad{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0px auto;
    padding: 30px;
    padding-bottom: 50px;
}
.badd{
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin:  10px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sub{
    text-align: center;
}
/* .bold{
    font-size: 25px;
} */
/* .pil{
    width: 250px;
} */
button{
    background-color: orangered;
    border: none;
    padding: 20px;
    color: white;
    border-radius: 2px;
}
.in{
    background-color: white;
    text-decoration: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
    padding: 5px;
}
.ic{
    color: white;
    background-color: orangered;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.add{
    padding: 0px;
    /* background-color: blue; */
}
.p{
    font-weight: bold;
}
.ad{
    color: orangered;
}
.our{

    font-size: 40px;
}
.row{
    display: flex;
    align-items: center;
    color: orangered;
    padding-bottom: 10px;
}
input{
    border: none;
}
.s{
    padding: 7px;
    border-radius: 5px;
}
.buy{
    padding: 10px;
}
.div{
    background-color: blue;
    display: flex;
    justify-content: space-around;
}

.fornav{
    
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.item{
    /* display: inline-block; */
    padding: 5px;
    margin: 5px;
    color: white;
}
i{
    font-size: 30px;
    color: white;
}
.menu{
    visibility: hidden;
    display: inline;
}
@media screen and (max-width:768px) {
    .badd{
        display: flex;
        /* flex-direction: column; */
        width:fit-content;
    }

    .bad{
        flex-direction: column;
    }
    .drop{
        visibility: hidden;
    }
    .menu{
        visibility: visible;
    }
    .bag{
        flex: column;
    }
}
