.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.parent{
    background: red;
    list-style-type: none;
    padding: 0px;
    width: 200px;
}
.dropelement{
    padding: 0px;
    list-style-type: none;
    background: yellow;
    visibility: hidden;
    position: absolute;
    width: 200px;
}
.dropelement li{
    padding: 5px;
}
.parent:hover .dropelement{
    visibility: visible;
}
.parent:hover li:hover{
    color: white;
    background-color: blue;
    font-size: 30px;
}

a{
    color: black;
    text-decoration: none;
}
.lil{
    display: inline;
    margin: 10px;
}
.nav{
    display: flex;
    background: red;
    align-items: center;
    /* justify-content: space-between; */

}
.cus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cust{
    background: gainsboro;
    text-align: center;
}
.bad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.badd{
    padding: 5px;
    margin: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    background: white;
}
.sub{
    text-align: center;
}
.bold{
    font-size: 25px;
}
.pil{
    width: 250px;
}
button{
    background-color: orange;
    border: none;
    padding: 5px;
}
.in{
    background-color: white;
    text-decoration: none; 
}
.bi{
    color: orange;
}
.add{
    padding: 0px;
    background-color: blue;
}