.list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: red;
}
a{
    text-decoration: none;
}
li{
    color: blue;
}
.parent{
    background: red;
    list-style-type: none;
    padding: 0px;
    width: 200px;
}
.dropelement{
    padding: 0px;
    list-style-type: none;
    background: yellow;
    visibility: hidden;
    position: absolute;
    width: 200px;
}
.dropelement li{
    padding: 5px;
}
.parent:hover .dropelement{
    visibility: visible;
}
.parent:hover li:hover{
    color: white;
    background-color: blue;
    font-size: 30px;
}

img{
    border-top:  20px groove blue;
    border-right: 20px dotted red;
    border-bottom: 20px ridge yellow;
    border-left: 20px dashed green;
}
/* a:link{
    background: green;
    color: black;
    margin: 10px 10px;
}
a:hover{
    background-color: red;
    color: white;
    margin: 10px 10px;
}
a:active{
    background-color: orange;
    color: yellow;
    margin: 10px 10px;
}
a:visited{
    background-color: brown;
    color: blue;
    margin: 10px 10px;
} */
.whatsapp{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.item{
    /* display: inline-block; */
    padding: 5px;
    margin: 5px;
    color: white;
}
.lil{
    display: inline;
    margin: 20px;
    color: white;
    font-size: 14px;
}
.butt{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background: paleturquoise;
    color: white;
    border: none;
    border-radius: 5px;
}
.fornav{
    
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    font-family: serif;
}
.home{
    color: aqua;
}
.add{
    display: inline;
    color: gray;
}