img{
    border-top:  20px groove blue;
    border-right: 20px dotted red;
    border-bottom: 20px ridge yellow;
    border-left: 20px dashed green;
}
/* a:link{
    background: green;
    color: black;
    margin: 10px 10px;
}
a:hover{
    background-color: red;
    color: white;
    margin: 10px 10px;
}
a:active{
    background-color: orange;
    color: yellow;
    margin: 10px 10px;
}
a:visited{
    background-color: brown;
    color: blue;
    margin: 10px 10px;
} */
.whatsapp{
    position: fixed;
    bottom: 0px;
    right: 10px;
}