/* .fornav{
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item{
    padding: 5px;
    margin: 5px;
    color: white;
}
.lil{
    display: inline;
    margin: 20px;
    color: white;
    font-size: 14px;
}
a{
    color: white;
    text-decoration: none;
    font-family: serif;
} */

.fornav{
    
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.item{
    /* display: inline-block; */
    padding: 5px;
    margin: 5px;
    color: white;
}
.lil{
    display: inline;
    margin: 20px;
    color: white;
    font-size: 14px;
}
a{
    color: white;
    text-decoration: none;
    font-family: serif;
    text-decoration: none;
}
ul{
    color: blue;
    
}
.drop{
    display: inline-block;
}
.parent{
    background: blue;
    list-style-type: none;
    padding: 0px;
    width: 200px;
    color: white;
}
.dropelement{
    padding: 0px;
    list-style-type: none;
    background: blue;
    visibility: hidden;
    position: absolute;
    width: 200px;
}
.dropelement li{
    /* padding: 5px; */
}
.parent:hover .dropelement{
    visibility: visible;
}
.parent:hover li:hover{
    color: white;
    background-color: black;
    /* font-size: 30px; */
}
/* .arrow{
    display: inline-block;
    flex-direction: row;
    
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: red;
}
.are{
    display: inline-block;
}
a{
    text-decoration: none;
}
li{
    color: blue;
}
.parent{
    background: red;
    list-style-type: none;
    padding: 0px;
    width: 200px;
}
.dropelement{
    padding: 0px;
    list-style-type: none;
    background: yellow;
    visibility: hidden;
    position: absolute;
    width: 200px;
}
.dropelement li{
    padding: 5px;
} */
/* .parent:hover .dropelement{
    visibility: visible;
}
.parent:hover li:hover{
    color: white;
    background-color: green;
    font-size: 20px;
} */
.par {
    animation: changecolor 2s ease-in-out 1s infinite alternate both;
    width: 100px;
    height: 100px;
    /* border-radius: 100px; */
    margin-top: 10px;
}   
@keyframes changecolor{
    0%{
        background: green;
        padding: 20px;
        color: yellow;
        border-radius: 100%;
    }
    100%{
        background: purple;
        padding: 100px;
        color: gainsboro;
        border-radius: 100%;
    }
}