.ola{
    background: blue;
}
.green{
    background: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
/* a:link{
    background: green;
    color: black;
    margin: 10px 10px;
}
a:hover{
    background-color: red;
    color: white;
    margin: 10px 10px;
}
a:active{
    background-color: orange;
    color: yellow;
    margin: 10px 10px;
}
a:visited{
    background-color: brown;
    color: blue;
    margin: 10px 10px;
} */
.whatsapp{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.item{
    /* display: inline-block; */
    padding: 5px;
    margin: 5px;
    color: white;
}
.lil{
    display: inline;
    margin: 20px;
    color: white;
    font-size: 14px;
}
.butt{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background: paleturquoise;
    color: white;
    border: none;
    border-radius: 5px;
}
.fornav{
    
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
    font-family: serif;
}
.home{
    color: aqua;
}
.add{
    display: inline;
    color: gray;
}