.ola{
    background: blue;
}
.green{
    background: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
a:link{
    background: green;
    color: black;
}
a:hover{
    background-color: red;
    color: white;
}
a:active{
    background-color: orange;
    color: yellow;
}
a:visited{
    background-color: brown;
    color: blue;
}
.whatsapp{
    position: fixed;
    bottom: 0px;
    right: 10px;
}