body{
    margin: auto;
    background-image: url(dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
label{
    color: white;
    width: 100%;
}
form{
    width: 400px;
    padding: 20px;
    margin: 0px auto;
    box-shadow: inset 0px 0px 10px white;
   }
input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    box-shadow: inset 0px 0px 10px white;
    background: transparent;
    margin: 5px 0px;
    border-radius: 20px;
    box-sizing: border-box;
   }
button{
    width: 100%;
    background: transparent;
    box-shadow: inset 0px 0px 10px white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
    }
    /* a:link{
        background: green;
        color: black;
        margin: 10px 10px;
    }
    a:hover{
        background-color: red;
        color: white;
        margin: 10px 10px;
    }
    a:active{
        background-color: orange;
        color: yellow;
        margin: 10px 10px;
    }
    a:visited{
        background-color: brown;
        color: blue;
        margin: 10px 10px;
    } */
    .whatsapp{
        position: fixed;
        bottom: 0px;
        right: 10px;
    }