h1{
    background-color: blue;
    color: White;
}
h2{
    background-color: black;
    color: blue;
}
h3{
    background-color: red;
    color: green;
}
h4{
    background-color: yellow;
    color: brown;
}
h5{
    background-color: aqua;
    color: pink;
}
h6{
    background-color: gold;
    color: red;
}
p{
    background-color: violet;
    color: gold;
}
/* a:link{
    background: green;
    color: black;
    margin: 10px 10px;
}
a:hover{
    background-color: red;
    color: white;
    margin: 10px 10px;
}
a:active{
    background-color: orange;
    color: yellow;
    margin: 10px 10px;
}
a:visited{
    background-color: brown;
    color: blue;
    margin: 10px 10px;
} */
.whatsapp{
    position: fixed;
    bottom: 0px;
    right: 10px;
}