label{
    color: black;
    width: fit-content;
    font-size: 18px;
}
form{
    width: fit-content;
    padding: 20px;
    margin: 0px auto;
    border: 20px solid blue;
   }
input{
    width: 100%;
    margin: 2px 0px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: blue;
       }
button{
    width: 100%;
    background: blue;
    border: none;
    padding: 10px;
    color: white;
    margin: 10px 0px;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: sans-serif;
    }
    a{
        text-decoration: none;
        color: blue;
    }
    p{
        color: gray;
        font-family: sans-serif;
        text-align: center;
    }
    h1{
        text-align: center;
        font-family: sans-serif;
    }
    .ig{
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 10px 20px;
    }
    .fir{
        position: fixed;
        top: 0px;
        right: 0px;
        margin: 10px 20px;
    }
    .sec{
        position: fixed;
        bottom: 0px;
        left: 0px;
        margin: 10px 20px;
    }
    .thi{
        position: fixed;
        bottom: 0px;
        right: 90px;
        margin: 10px 20px;
    }
    .whatsapp{
        position: fixed;
        bottom: 0px;
        right: 10px;
    }
    a:link{
        background: green;
        color: black;
        margin: 10px 10px;
    }
    a:hover{
        background-color: red;
        color: white;
        margin: 10px 10px;
    }
    a:active{
        background-color: orange;
        color: yellow;
        margin: 10px 10px;
    }
    a:visited{
        background-color: brown;
        color: blue;
        margin: 10px 10px;
    }